footer {
  font-size: 13px;
}

header {
  border-bottom: 1px solid #333;
}

html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 17px;
  background-color: white;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  margin-bottom: 5px;
}

.example-img {
  height: 14px;
}

.fade-in {
  animation: fade 1.5s;
  animation-iteration-count: 1;
}

.intro {
  padding-bottom: 10px;
  border-top: 3px solid #333;
  padding-top: 5px;
}

.intro a:link, .intro a:visited {
  color: #333;
}

.intro a:hover, .intro a:active {
  color: #000050;
}

.pulse-bg {
  animation: pulsebg 1.5s infinite;
}

.slider {
  width: 80%;
}

.step {
  font-weight: 400;
}

.step.later {
  display: none;
}

.step-controls {
  padding-top: 30px;
}

.step-controls .next {
  animation: pulse 2s infinite;
  border: 2px solid;
  padding: 2px;
}

.step-controls .previous {
  padding: 2px;
}

.step-controls a:link, .step-controls a:visited, .step-controls a:hover, .step-controls a:active {
  color: #000080;
}

.subcontrol {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.subcontrol.late {
  opacity: 0;
}

.subcontrol .main-label {
  font-weight: bold;
  padding-bottom: 5px;
}

.summary-display {
  padding-top: 10px;
  padding-bottom: 10px;
}

.summary-display .bar-display {
  height: 10px;
  width: 1px;
}

#axisDisplay {
  width: 200px;
  border-top: 1px dotted #333;
  height: 14px;
  font-size: 12px;
  color: #A0A0A0;
  padding-top: 1px;
}

#axisDisplay #endDisplay {
  float: right;
}

#axisDisplay #startDisplay {
  float: left;
}

#buildingSubPanel {
  padding-top: 8px;
}

#displayArea {
  text-align: center;
}

#displayArea:hover {
  cursor: crosshair;
}

#fastFoodSummary {
  color: #33a02c;
}

#fastFoodSummary .bar-display {
  background-color: #33a02c;
}

#skip-guide-msg {
  display: none;
}

#skip-link {
  top: -20px;
  left: 0;
  position: absolute;
}

#skip-link:focus {
  top: 10px;
  background: #E0E0E0;
  padding: 3px;
}

#supermarketSummary {
  color: #1f78b4;
}

#supermarketSummary .bar-display {
  background-color: #1f78b4;
}

#toolSection {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

#unknownSummary {
  color: #A0A0A0;
}

#unknownSummary .bar-display {
  background-color: #C0C0C0;
}

#vizCanvas {
  opacity: 0;
}

@media (max-width: 1000px) {
  #controlArea {
    border-top: 1px dotted #333;
    padding-top: 20px;
  }

  #toolSection #displayArea {
    width: 100%;
    overflow-x: auto;
  }
}

@media (min-width: 1000px) {
  #toolSection {
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
  }

  #controlArea {
    border-left: 1px dotted #C0C0C0;
    padding-left: 10px;
  }
}

@keyframes fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes pulse {
  0% {
    border-color: rgba(150, 150, 150, 0);
  }
  50% {
    border-color: rgba(150, 150, 150, 0.5);
  }
  100% {
    border-color: rgba(150, 150, 150, 0);
  }
}

@keyframes pulsebg {
  0% {
    background-color: rgba(230, 230, 230, 0);
  }
  50% {
    background-color: rgba(230, 230, 230, 0.4);
  }
  100% {
    background-color: rgba(230, 230, 230, 0);
  }
}
